{% load static %}
<!doctype html>
<html lang="ko">
<head>
<meta chars="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<title>Hello Pybo!</title>
</head>
<body>
{% include 'navbar.html' %}

{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

{% comment %} 자바스크립트 블럭 {% endcomment %}
{% block script %}
{% endblock %}

</body>
</html>