{% load static %}
<!doctype html>
<html lang="ko">
<head>
<meta chars="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<title>Hello Pybo!</title>
</head>
<body>
{% include 'navbar.html' %}

{% block content %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>

{% comment %} mathjax. {% endcomment %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>


{% comment %} SimpleMDE {% endcomment %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% comment %} 자바스크립트 블럭 {% endcomment %}

<script>
var simplemde = new SimpleMDE({ element: document.getElementById("content") });
</script>

{% block script %}
{% endblock %}

</body>
</html>